<!-- ******************************* -->
<!-- Project  : Tech Blog            -->
<!-- File     : post-info.handlebars -->
<!-- Desc     : Post section to be   -->
<!--            reused in various    -->
<!--            pages in the project -->
<!-- Author   : Vicente Garcia       -->
<!-- Date     : 05/06/2022           -->
<!-- Modified : 05/10/2022           -->
<!-- ******************************* -->
<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}} ({{comments.length}} {{format_plural "comment" comments.length}})</a> posted by {{user.username}} on {{format_date created_at}}
  </div>
  <div class="meta">
    {{content_post}}
    <!--|
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>-->
  </div>
</article>