<!-- ******************************* -->
<!-- Project  : Tech Blog            -->
<!-- File     : post-info.handlebars -->
<!-- Desc     : Post section to be   -->
<!--            reused in various    -->
<!--            pages in the project -->
<!-- Author   : Vicente Garcia       -->
<!-- Date     : 05/06/2022           -->
<!-- Modified : 05/11/2022           -->
<!-- ******************************* -->
<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class="post-title"><a href="/post/{{id}}">{{title}}</a></div>
      <div class="post-by pt-1">Posted by {{user.username}} on {{format_date created_at}}</div>
    </div>
  </div>
  <div class="card-body">
    {{content_post}}
  </div>
</div>