<!-- ******************************* -->
<!-- Project  : Tech Blog            -->
<!-- File     : edit-post.handlebars -->
<!-- Desc     : Section page to edit -->
<!--            a post               -->
<!-- Author   : Vicente Garcia       -->
<!-- Date     : 05/06/2022           -->
<!-- Modified : 05/11/2022           -->
<!-- ******************************* -->
<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <label for="title">Title</label>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <label for="content">Content</label>
      <textarea id="post-content" name="post-content">{{post.content_post}}</textarea>
    </div>
    <div>
      by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Update Post</button>
    <button type="button" class="delete-post-btn">Delete</button>
  </form>
</article>
<!--<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{ { > comments post.comments } }-->
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<!--<script src="/javascript/comment.js"></script>-->